# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editors
.idea/
.vscode/
*.swp
*.swo
*~
*.sublime-workspace
*.sublime-project

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
/android
/ios
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Android
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
*.iml
.navigation/
capture.html

# iOS
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
!default.pbxuser
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.xczip
Pods/
build/
DerivedData/

# TypeScript
*.tsbuildinfo

# Env
.env
.env*.local
*.env

# Generated
/lib/generated/prisma
